/*CÓDIGO SHARKNERO DASHBOARD*/
:root {
  --dark: #202020;
  --red: #ff0000;
  --white: #fff;
  --gray: #5a5a5a;
  --dorado: #9b8e15;
  --black: #000;
}

/*Sidebar*/
.sidebar {
  width: 15%;
  height: 100ch;
  margin: 15px 0 15px 15px;
  background: var(--red);
  border-radius: 10px;
  float: left;
}

.sidebar ul {
  transform: translate(-15px, 45px);
}

.sidebar ul li {
  list-style: none;
  color: var(--white);
  padding: 15px 10px;
  text-align: center;
  margin: 15px 0;
}

.sidebar ul li a {
  color: var(--white);
  text-decoration: none;
}

.sidebar ul li a i {
  font-size: 24px;
}

/*InterUser*/
.interuser {
  width: 82%;
  height: 100%;
  box-shadow: red 0px 0px 2px 1px;
  margin: 10px 10px 10px 0px;
  border-radius: 10px;
  float: right;
}

/*USUARIO*/
#solicitudUser h1 {
  padding: 15px 0;
}

#solicitudUser form {
  width: 100%;
  max-width: 450px;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background: var(--gray);
}
